<div class="footer container-fluid text-light mt-5 rounded-bottom">
    <div class="row">
        <div class="col-lg-3 my-3">
            <p class="mx-0 mb-2"><b>COMPANY</b></p>
            <div class="row mx-0">
                <div class="col-lg-6 offset-lg-1">
                    <li>
                        <a class="links" href="/aboutus">Profile</a>
                    </li>
                    <li>
                        <a class="links" href="/aboutus">Board of Directors</a>
                    </li>
                    <li>
                        <a class="links" href="/aboutus">Management</a>
                    </li>
                    <li>
                        <a class="links" href="/aboutus">Blog</a>
                    </li>
                    <li>
                        <a class="links" href="/aboutus">Press room</a>
                    </li>
                </div>
                <div class="col-lg-5">
                    <li>
                        <a class="links" href="/aboutus">Clients</a>
                    </li>
                    <li>
                        <a class="links" href="/aboutus">Testimonials</a>
                    </li>
                    <li>
                        <a class="links" href="/aboutus">Case Studies</a>
                    </li>
                    <li>
                        <a class="links" href="/aboutus">Partners</a>
                    </li>
                </div>
            </div>
        </div>

        <div class="col-lg-2 my-3">
            <p class="mx-0 mb-2"><b>SERVICES</b></p>
            <div>
                <li>
                    <a class="links" href="/aboutus">Software Engineering</a>
                </li>
                <li>
                    <a class="links" href="/aboutus">Cloud-Based Development</a>
                </li>
                <li>
                    <a class="links" href="/aboutus">Portals and CMS</a>
                </li>
                <li>
                    <a class="links" href="/aboutus">Mobile Apps</a>
                </li>
                <li>
                    <a class="links" href="/aboutus">Cloud Computing Consultancy</a>
                </li>
                <li>
                    <a class="links" href="/aboutus">Ebedded Development</a>
                </li>
                <li>
                    <a class="links" href="/aboutus">Custom Software Solutions</a>
                </li>
            </div>
        </div>

        <div class="col-lg-2 my-3">
            <p class="mx-0 mb-2"><b>SUBSCRIBE</b></p>
            <form class="" action="/models/navdata.js" method="POST">
                <input class="text-muted links p-1 mb-4 border border-0" 
                    type="email" name="email" id="email" placeholder="Email"
                    style="width: 100%;">
                <input class="links" type="submit" value="Subscribe" id="subscribe" class="mt-4 text-white border border-0">
            </form>
        </div>

        <div class="col-lg-2 my-3">
            <p class="mx-0 mb-2"><b>INDUSTRIES</b></p>
            <div>
                <li>
                    <a class="links" href="/aboutus">Health care</a>
                </li>
                <li>
                    <a class="links" href="/aboutus">IoT</a>
                </li>
                <li>
                    <a class="links" href="/aboutus">Transport and Logistics</a>
                </li>
                <li>
                    <a class="links" href="/aboutus">Agriculture</a>
                </li>
                <li>
                    <a class="links" href="/aboutus">Retailers and Supermarkets</a>
                </li>
                <li>
                    <a class="links" href="/aboutus">Banking and Finance</a>
                </li>
                <li>
                    <a class="links" href="/aboutus">Marketing and Consultancy</a>
                </li>
                <li>
                    <a class="links" href="/aboutus">Accounting and Audit</a>
                </li>
                <li>
                    <a class="links" href="/aboutus">Mining</a>
                </li>
            </div>
        </div>

        <div class="col-lg-2 my-3">
            <p class="mx-0 mb-2"><b>SOCIAL MEDIA</b></p>
            <div>
                <li>
                    <a class="links" href="https://facebook.com"><i class="fab fa-facebook-square"></i></a>
                </li>
                <li>
                    <a class="links" href="/https://linkedin.com"><i class="fab fa-linkedin"></i></a>
                </li>
                <li>
                    <a class="links" href="/https://twitter.com"><i class="fab fa-twitter-square"></i></a>
                </li>
                <li>
                    <a class="links" href="/https://instagram.com"><i class="fab fa-instagram-square"></i></a>
                </li>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid rounded-top techsuite">
    <p class="text-center py-3">Cain Gwasira
        <span> | contact us +263785170977 | techsuite@gmail.com|</span>
    </p>
</div>