<footer class="footer container-fluid mt-5">
    <div class="row px-5">
        <div class="col-lg-4 my-5 text-center">
            <p class="header"><b>ZIMBABWE LAND COMMISSION</b></p>
            <p class="text mx-0">
                 To ensure accountability, 
                 fair ness and transparency in the administration of 
                 agricultural land that is vested in the State
            </p>
        </div>

        <div class="col-lg-4 my-5 text-center">
            <p class="header"><b>LINKS</b></p>
            <div class="social">
                <li class="px-3">
                    <a class="flinks py-1" href="/">Home</a>
                    <a class="flinks py-1" href="/blog">Legal</a>
                    <a class="flinks py-1" href="/data">ICT</a>
                    <a class="flinks py-1" href="/resources">Land Audit</a>
                    <a class="flinks py-1" href="tables.html">About</a>
                </li>
            </div>
        </div>

        <div class="col-lg-4 my-5 text-center">
            <p class="header"><b>SUBSCRIBE</b></p>
            <form class="" action="/models/navdata.js" method="POST">
            <input class="bg-white p-2 border border-0" 
                    type="email" 
                    name="email" 
                    id="email" 
                    placeholder="Email" 
                    style="width: 100%;">
            <input type="submit" value="Subscribe"
                    id="subscribe" 
                    class="mt-4 text-white border border-0">
            </form>
        </div>

        <p class="techsuite text-muted text-center pt-4">Cain Gwasira
            <span class="text-muted"> | contact us +263785170977 | techsuite@gmail.com|</span>
        </p>
    </div>
</footer>