<footer class="footer container-fluid mt-5">
    <div class="row d-flex justify-content-center bg-light pl-5 pr-5">
        <div class="col-lg-3 mt-5 mb-3">
            <p class="header"><b>ZIMBABWE LAND COMMISSION</b></p>
            <p class="text text-muted">
                 To ensure accountability, fair ness and transparency in the administration of agricultural land that is vested in the State
            </p>
        </div>

        <div class="col-lg-3 mt-5 mb-3">
            <p class="header"><b>GET IN TOUCH WITH US</b></p>
            <div class="social-links">
            <a class="float-left" href="https://www.instagram.com/cg_femo"><i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a class="float-left" href="https://www.instagram.com/cg_femo"><i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            <a class="float-left" href="https://www.instagram.com/hushpappi"><i class="fa fa-twitter-square" aria-hidden="true"></i>
            </a>
            </div>
        </div>

        <div class="col-lg-3 mt-5 mb-3">
            <p class="header"><b>LINKS</b></p>
            <div class="social">
            <li class="pb-4 d-flex flex-column">
                <a class="flinks pb-2" href="/">Home</a>
                <a class="flinks pb-2" href="/blog">Legal</a>
                <a class="flinks pb-2" href="/data">ICT</a>
                <a class="flinks pb-2" href="/resources">Land Audit</a>
                <a class="flinks pb-2" href="tables.html">About</a>
            </li>
            </div>
        </div>

        <div class="col-lg-3 mt-5">
            <p class="header"><b>SUBSCRIBE</b></p>
            <form class="" action="/models/navdata.js" method="POST">
            <input class="bg-white p-2 border border-0" 
                    type="email" 
                    name="email" 
                    id="email" 
                    placeholder="Email" 
                    style="width: 100%;">
            <input type="submit" value="Subscribe"
                    id="subscribe" 
                    class="mt-4 text-white border border-0">
            </form>
        </div>
        <p class="techsuite text-muted text-center pt-4">Cain Gwasira
            <span class="text-muted"> | contact us +263785170977 | techsuite@gmail.com|</span>
        </p>
    </div>
</footer>