<div class="container-fluid mb-1 bg-dark">
    <div class="row">
        <div class="col-lg-2 mt-2 text-light">
            <h4><b>DB MANAGER</b></h4>
        </div>

        <div class="col-lg-7"></div>

        <div class="col-lg-3 mt-2 text-light">
            <a class="ml-5" id="account-user"></a>
            <span 
            class="ml-4" 
            id="welcome-user">
            <i class="fas fa-user-circle"></i> <span>{{name}}</span> 
            </span>
        </div>
        <hr class="m-2 text-warning bg-warning">
    </div>
</div>