<nav class="mynav navbar navbar-expand-lg sticky-top shadow-sm">
  <a class="navbar-brand ml-2 mr-5" style href="#">
      <img src="/images/logo.jpg" alt="" width="50px" height="50px">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
  </button>
  <div class="collapse navbar-collapse mx-5" id="collapsibleNavbar">
    <ul class="navbar-nav bg-info">
      <li class="nav-item px-3 border-right active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item px-2 border-right">
        <a class="nav-link" href="/legal">Legal and Governance</a>
      </li>
      <li class="nav-item px-2 border-right">
        <a class="nav-link" href="/ict">ICT</a>
      </li>
      <li class="nav-item px-2 border-right">
          <a class="nav-link" href="/land_audit">Land Audit</a>
      </li>
      <li class="nav-item px-2 border-right">
          <a class="nav-link" href="/internal_audit">Internal Audit</a>
      </li>
      <li class="nav-item px-2 border-right">
          <a class="nav-link" href="/communications">Communications</a>
      </li>
      <li class="nav-item px-2 border-right">
          <a class="nav-link" href="/corporate_services">Corporate Services</a>
      </li>
      <li class="nav-item px-2 bg-light border-right">
          <a class="contact-btn w-100 mx-0 nav-link rounded" href="/about">About</a>
      </li>
      <li class="nav-item px-2 border-right">
          <a class="nav-link" href="/careers">Careers</a>
      </li> 
    </ul>
    <a class="ml-5" id="account-user"></a>
  </div>  
</nav>