<nav class="mynav navbar navbar-expand-lg sticky-top shadow-sm">
        <a class="navbar-brand w-25 ml-4" style href="#">
            <img src="/images/logo.jpg" alt="" width="50px" height="50px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav pl-5">
            <li class="nav-item pl-4 active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item pl-4">
              <a class="nav-link" href="/blog">Legal</a>
            </li>
            <li class="nav-item pl-4">
              <a class="nav-link" href="/signup_home">ICT</a>
            </li>
            <li class="nav-item pl-4">
                <a class="nav-link" href="tables.html">Land Audit</a>
            </li>
            <li class="nav-item pl-4">
                <a class="contact-btn nav-link rounded" href="/aboutus">About</a>
            </li>
            <li class="nav-item pl-4">
                <a class="nav-link" href="tables.html">Careers</a>
            </li> 
          </ul>
          <div class=" social-links row mx-auto ml-5">
            <div class="social-items float-right">
                <a cl href="https://www.instagram.com/cg_femo"><i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/cg_femo"><i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/hushpappi"><i class="fa fa-twitter-square" aria-hidden="true"></i>
                </a>
            </div>
          </div>
          <a class="ml-5" id="account-user"></a>
        </div>  
    </nav>