body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1.02em;
}

/*--------------NAVIGATION- LAYOUT VIEW--------------------------------*/

.logo { 
    margin-left: 80px;
}
.logo p { 
    font-size: medium; 
    font-weight: bolder;
    margin: 0 10px;
    color: #ffffffff;
}

.mynav {
    background-color: #000000e3;
}

.mynav li a {
    color: #ffffffff;
    font-size: 1.7vmin;
    font-weight: 500;
    letter-spacing: 0.15rem;
}

.mynav li a:hover {
    color: #ffffffff;
}

.current-link {
    border-bottom: 2px solid #1f69af;
}

@media(max-width: 1000px) {
    .navbar .nav-item, .social-links {
        display: block;
        width: auto;
        padding: 0 5em 0 0;
        text-align: center;
    }

    .welcome_content {
        margin-top: 5rem;
    }

    .typewriter {
        margin-bottom: 3px;
    }

    .typewriter-txt {
        margin-bottom: 5px;
    }

    .txt-type {
        margin-top: 3px;
    }


    .home {
        padding-top: auto !important;
    }

    .home-row {
        margin-top: auto !important;
    }

    .navbar-nav .nav-link {
        font-size: 0.8em;
    }

    .navbar-brand img {
        width: 2rem !important;
    }

    #account-user {
        padding: 0;
    }
}

#account-user {
    background: #1f69af;
    padding: .5rem;
    font-weight: 300;
    border-radius: 5px;
    color: #ffffffff;
    cursor: pointer;

}

#account-user:hover {
    background-color: #3996ec
}

/*--------------HOME-----------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

.home {
    flex-grow: 1;
    background-color: #ffffffff;
}

.main-content {
    font-family: 'Raleway', sans-serif;
    height: 90vh;
    background-image: url('/images/soft2.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8rem;
}

.header { background-color: #202020;}

p { margin: 0 4rem;}

p.typewriter {
    font-size: 1.0rem;
    letter-spacing: 0.15rem;
    font-weight: lighter;
}

.typewriter-txt {
    background-color: #000000;
    opacity: 0.7;
    border-radius: 5px;
    font-size: 1.0rem;
    font-weight: 300;
    padding: 12px;
    color: #999999;
}

p.moto, .moto small {
    width: 70%;
    color: #ffffffff;
    font-size: medium;
    font-weight: 300;
    letter-spacing: 0.15rem;
}

.txt-type > .text {
    padding: 0 .3rem;
    color: #ffffffff;
    border-right: .08rem solid #ffffffff;
}


.post {
    background-color: #ffffffff;
}

a .title {
    color: #202020;
}

a small {
    color: #c56c31;
}

.services {
    text-decoration: none;
    list-style: none;
    color: #202020;
    font-weight: 400;
}

.services i .fas {
    font-size: large;
    font-weight: bold;
}


div.services:hover { 
    padding: 5px;
    background-color:#ffffffff;
    cursor: pointer;
    border-radius: 5px;
}


/*--------------FOOTER-----------------------------------------------*/

.footer {
    background-color: #202020;
}

.footer p {
    color: #ffffffff;
    font-weight: 300;
    font-size: small;
}

li { list-style: none;}

.links {
    text-decoration: none;
    color: #ebebeb;
    font-size: .7rem;
}

.links .fab { 
    font-size: 1.1rem;
    color: #1f69af;
}

.links:hover {
    text-decoration-color: #ccc;
    color: #ebebeb;
}

#subscribe {
    width: 100% !important; 
    padding: 5px !important;
    color:#202020 !important;
    border: none;
}

#subscribe:hover {
    background-color: #1f69af !important;
    color: #fff !important;
}

.techsuite {
    border-top: 1px solid #ccc;
    background-color: #202020;
    font-size: .7em;
    color: #ccc;
}

/*------------------------------Sign Up------------------------------------------*/

.signup {
    background-color: #e4e4e4;
    border-radius: 5px;
}
    

.lh-condensed { line-height: 1.25; }


@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}

.invalid {
    display: none;
}

.valid {
    display: block;
    color: #e74;
}

.message {
    color: #ccc5c5;
    padding: .5rem;
    margin-bottom: .5rem;
}



.login {
    background-color: #e4e4e4;
    border-radius: 5px;
}

/*------------------------------About Us------------------------------------------*/

.about-section {
    padding: 50px;
    text-align: center;
    font-weight: 700;
    color: #dadada;
    }

    .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
    }

    .title {
    color: grey;
    }

    @media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
    }