body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0 5px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1.02em;
}

/*--------------HEADER--------------------------------*/

.head {
    background: #ebebeb;
    color: #333;
    font-weight: bold;
    font-size: 2vmin;
    padding: 1rem;
}

/*--------------NAVIGATION- LAYOUT VIEW--------------------------------*/

.mynav {
    background-color: #fff;
}

.mynav li a {
    color: #006622;
    font-size: 2vmin;
    font-weight: bold;
}

.mynav li a:hover {
    color: #69ca89;
}

.fa-bars {
    color: #006622;
    float: right;
}

.fa {
    color: #006622;
    float: right;
    padding: 5px;
    font-size: 16px;
}

.fa:hover {
    color: #6cd38f;
    border-radius: 10px;
}

.contact-btn {
    color: #006622 !important;
    background-color: #fff !important;
    border: .02em solid #006622;
}

.contact-btn:hover, .learnmore-btn:hover  {
    color: #fff !important;
    background-color: #006622 !important;
}

@media(max-width: 1000px) {
    .navbar .nav-item, .social-links {
        display: block;
        width: auto;
        padding: 0 5em 0 0;
        text-align: center;
    }

    .social-links {
     display: flex;
     justify-content: center;
     align-items: center;
    }

    .social-items {
        padding-left: 4em;
    }

    .welcome_content {
        margin-top: 5rem;
    }


    .home {
        padding-top: auto !important;
    }

    .home-row {
        margin-top: auto !important;
    }

    .navbar-nav {
        border-top: 1px solid #0b65be;
    }

    .navbar-nav .nav-link {
        font-size: 0.8em;
    }

    .navbar-brand img {
        width: 2rem !important;
    }
}

#account-user:hover {
    background-color: #ebebeb;
    padding: .3rem;
    border-radius: 5px;
    cursor: pointer;

}

.account-user-focus {
    border: 1px solid #087591;
}

/*--------------HOME-----------------------------------------------*/

.home {
    flex-grow: 1;
}

.main-content {
    background-image: url('../images/home.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

@media screen and (max-width: 1000px) {

    .col-lg-3 {
        margin-left: 3em;
    }

    #email, #subscribe {
        width: 60%;
    }

}


/*--------------FOOTER-----------------------------------------------*/

footer p.header {
    color: #024b1a;
    font-size: small
}

footer p.text {
    font-size: small;
    color: #4e4e4e;
    padding-right: 3rem;
}

.flinks {
    color: #006622;
    font-size: smaller;
}

.flinks:hover {
    text-decoration: none;
    color: #54b875;
}


#subscribe {
    width: 100% !important; 
    padding: 5px !important;
    color: #006622 !important;
    border: .5px solid #006622 !important;
}

#subscribe:hover {
    background-color: #006622 !important;
    color: #fff !important;
}

.techsuite {
    font-size: .7em;
}

/*------------------------------Sign Up------------------------------------------*/

.container {
    max-width: 960px;
    }

.lh-condensed { line-height: 1.25; }


@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}

.invalid {
    display: none;
    color: #e74;
}

.valid {
    display: block;
}

.message {
    background-color: #99e499;
    color: #fff;
    padding: .5rem;
    margin-bottom: .5rem;
}

/*------------------------------About Us------------------------------------------*/

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
    }

    .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
    }

    .title {
    color: grey;
    }

    @media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
    }