<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Red+Rose:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/ed06971682.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/data.css">
    <link rel="icon" href="/images/logo.jpg">
    <title>Zimbabwe Land Commission</title>
    <style>
        .error-404 {
            color: #136db3;
            padding: 10rem;
            text-align: center;
            flex-grow: 1;
        }
    </style>
</head>
<body>
    <section class="error-404">
        <p> {{title}}</p>
        <p>{{rows}}</p>
    </section>
    {{>footer}}

    <script>
        $("[href]").each(function() {
            if (this.href == window.location.href) {
                $(this).addClass("current-link");
            }
        });
    </script>
</body>
</html>