<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            text-align: center;
            padding-top: 5rem;
            color: #e74;
            font-size: large;
        }
    </style>
</head>
<body>
    <%= errors %>
</body>
</html>