<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Red+Rose:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/ed06971682.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/data.css">
    <title>Zimbabwe Land Commission</title>
    <style>
        .land-audit {
            display: none;
            color: #adadad;
            background-color: #fff;
            text-align: center;
        }

        .land-audit p {
            font-size: medium;
            padding: 5px
        }
    </style>
</head>
<body onbeforeunload="showSpinner('block')">
    <div class="land-audit shadow-sm">
        <p>LAND AUDIT</p>
    </div>
    {{>nav}}
    <section class="mt-3">
        <div class="data-container container-fluid">
            <div class="row m-auto">
                <div class="info">
                    <div class="dropdown col-md-2">
                        <input class="myInput" onclick="show()" type="text" placeholder="Select Table..">
                        <div id="myDropdown" class="dropdown-content">
                            <option value="clear" id="clear">Clear</option>
                            <option value="beneficiary_details" id="beneficiary-details">Beneficiary Details</option>
                            <option value="boom_sprayers" id="boom-sprayers">Boom Sprayers</option>
                            <option value="spouse_details" id="spouse-details">Spouse Details</option>
                            <option value="plot_farm_identification" id="plot">Plot Farm Identification</option>
                        </div>
                    </div>
                    <div class="col-md-6" id="search_table">
                        <select name="search" id="search-criteria"></select>
                        <input type="text" id="search_by_id" placeholder="Search table...">
                    </div>
                    <div class="col-md-4 pr-5">
                        <span class="table-name" id="counter"></span>
                        <span class="counter" id="counter"></span>
                        <span><button class="print"><i class="fas fa-print"></i></button></span>
                        <span><button class="print"><i class="fas fa-plus-circle"></i></button></span>
                    </div>
                </div>
                <div id="loader" aria-placeholder="loading..."></div>
                <table id="table" cellspacing="2" cellpadding="2">
                    <thead>
                        
                    </thead>
                    <tbody>
                
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <script>

        const show = () => {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        const showSpinner = (display) => {
            const me = document.getElementById('loader')
            document.getElementById("loader").style.display = display;
            document.querySelector('.myInput').value = ''
        }

        const filterSearch = () => {
            input = document.querySelector('.myInput')
            filter = input.value.toUpperCase()
            div = document.querySelector('#myDropdown')
            option = div.getElementsByTagName('option')

            for(let i=0; i < option.length; i++) {
                txtValue = option[i].textContent || option[i].innerText;
                if(txtValue.toUpperCase().indexOf(filter) > -1) {
                    option[i].style.display = ''
                } else {
                    option[i].style.display = 'none'
                }
            }
        }

        document.querySelector('#myDropdown').addEventListener('click', (e) => {
            fetchData(e.target.value)
        })

        document.querySelector('.myInput').addEventListener('keyup', filterSearch)

        const searchData = (criteria) => {
            input = document.querySelector('#search_by_id')
            filter = input.value.toUpperCase().trim()
            table = document.getElementById('table')
            tr = table.getElementsByTagName('tr')

            let count = 0
            for(let i=0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName('td')[criteria]
                if(td) {
                    txtValue = td.textContent || td.innerText
                    if(txtValue.toUpperCase().trim().indexOf(filter) > -1) {
                        tr[i].style.display = ''
                        tr[i].classList.add('rows')
                        count++
                    } else {
                        tr[i].style.display = 'none'
                    }
                }
            }

            $('.counter').html(count).css('display', 'inline-block')
        }


        const printData = () => {
            const table = document.getElementById('table')
            let htmlToPrint = `
            <style type="text/css">
            table {
                color: #062F4F;
                background-color: #969494;
                border-collapse: collapse;
                width: 100%;
            }

            thead { border-bottom: 1px solid #062F4F}

            tbody tr:nth-child(even) { background-color: #adadad}
            tbody tr:nth-child(odd) { background-color: #969494}

            th, td {
                padding-right: 10px;
            }
            </style>`;
            htmlToPrint += table.outerHTML
            newWin = window.open("")
            newWin.document.write(htmlToPrint)
            newWin.print()
            setTimeout(() => newWin.close(), 2000)
        }

        document.querySelector('.fa-print').addEventListener('click', printData)

        const fetchData = value => {
            show()
            showSpinner('block')
            const thead = $("thead")
            const tbody = $("tbody")
            const searchParent = $('#search-criteria')
            const search_table = $('#search_table')
            thead.html('')
            tbody.html('')
            search_table.css('display', 'block')
            searchParent.html('')

            fetch(`/data/table?table=${value}`).then((response) => {
                response.json().then((table) => {
                    showSpinner('none')
                    const headers = Object.keys(table[0])

                    let tr = ''
                    let option = ''
                    let searchValue = 0
                    for(let i = 0; i < headers.length; i++) {
                        let header = headers[i]
                        tr += `<th> ${header} </th>`
                        option += `<option value="${searchValue+i}" class="new-option">search_by: ${header} </option>`
                    }

                    let rows = '<tr>'
                    table.forEach((row) => {
                        let data = ''
                        for(let key in row) {
                            if(row[key] === null) {
                                data += `<td> </td>`
                            } else {
                                data += `<td> ${row[key]} </td>`
                            }
                            
                        }
                        rows += data + '</tr>'
                    })

                    thead.append('<tr>'+ tr + '</tr>')
                    tbody.append(rows)
                    searchParent.append(option)

                    document.querySelector('#search-criteria').addEventListener('click', (data) => {
                        document.querySelector('#search_by_id').addEventListener('keyup', (e) => {
                            searchData(data.target.value)
                        })
                    })

                    $('.counter').html(table.length).css('display', 'inline-block')
                    $('.table-name').html(value).css('display', 'inline-block')
                    document.querySelector('.print').style.display = 'inline-block'

                }).catch((error) => {
                    tbody.append(`<p> No data to display, try again... </p>`)
                })
            })
        }

    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>