<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/ed06971682.js" crossorigin="anonymous"></script>
    <title>Orelle Group | Welcome Users</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-md-3 bg-dark text-light text-center my-5">
                <div class="my-2">
                    <p><b>Welcome {{name}}! </b></p>
                    <p>Please use the appropriate links below to access the resources
                        authorized to your account.
                    </p>
                </div>
                <div class="links">
                    <a href="/data" class="btn btn-small btn-outline-info my-2">ANALYTICS</a>
                </div>
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</body>

</html>